In [21]:
import os
os.environ

{'LANG': 'en_US.UTF-8', 'TERM': 'xterm-color', 'SHELL': '/bin/bash', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'JPY_PARENT_PID': '61560', 'SHLVL': '0', 'DFDATA': '/gws/open/NYCOpenData/nycopendata/data', 'PUI2016': '/home/cusp/xz1845/PUI2016', 'CLICOLOR': '1', 'PUIDATA': '/home/cusp/xz1845/PUIdata', 'PWD': '/wingrdp/homedirs/xz1845/PUI2016_xz1845/HW2_xz1845', 'USER': 'xz1845', 'HOME': '/home/cusp/xz1845', 'PATH': '/opt/rh/v8314/root/usr/bin:/opt/rh/nodejs010/root/usr/bin:/opt/rh/rh-python34/root/usr/bin:/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin', 'PAGER': 'cat', 'LD_LIBRARY_PATH': '/opt/rh/v8314/root/usr/lib64:/opt/rh/nodejs010/root/usr/lib64:/opt/rh/rh-python34/root/usr/lib64:/localhome/oracle/11g-client/product/11.2.0/client_1/lib', 'GIT_PAGER': 'cat'}

In [22]:
print os.environ.get('DFDATA')

/gws/open/NYCOpenData/nycopendata/data

In [23]:
data_loc = os.environ.get('DFDATA') + '/zkky-n5j3/1414246141/zkky-n5j3'
print data_loc

/gws/open/NYCOpenData/nycopendata/data/zkky-n5j3/1414246141/zkky-n5j3

In [24]:
import pandas as pd

In [25]:
data = pd.read_csv(data_loc)

In [26]:
data.head()

,Neversink Date,Neversink Elevation,Neversink Storage,Rondout Date,Rondout Elevation,Rondout Storage,Schoharie Date,Schoharie Elevation,Schoharie Storage,Cannonsville Date,...,Cannonsville Storage,Pepacton Date,Pepacton Elevation,Pepacton Storage,Ashokan East Date,Ashokan East Elevation,Ashokan East Storage,Ashokan West Date,Ashokan West Elevation,Ashokan West Storage
0,03/01/2005 04:00:00 PM +0000,1440.21,35570,03/01/2005 04:00:00 PM +0000,835.10,46757.0,03/01/2005 04:00:00 PM +0000,1130.09,19618.0,03/02/2005 04:00:00 PM +0000,...,97257.0,03/01/2005 04:00:00 PM +0000,1277.42,138986,03/01/2005 04:00:00 PM +0000,586.61,79856,03/01/2005 04:00:00 PM +0000,587.24,44432.0
1,03/02/2005 04:00:00 PM +0000,1440.22,35575,03/02/2005 04:00:00 PM +0000,834.98,46678.0,03/02/2005 04:00:00 PM +0000,1130.07,19610.0,03/03/2005 04:00:00 PM +0000,...,97193.0,03/02/2005 04:00:00 PM +0000,1277.26,138696,03/02/2005 04:00:00 PM +0000,586.61,79856,03/02/2005 04:00:00 PM +0000,586.93,44123.0
2,03/03/2005 04:00:00 PM +0000,1440.21,35570,03/03/2005 04:00:00 PM +0000,834.84,46585.0,03/03/2005 04:00:00 PM +0000,1130.05,19602.0,03/04/2005 04:00:00 PM +0000,...,97080.0,03/03/2005 04:00:00 PM +0000,1277.10,138406,03/03/2005 04:00:00 PM +0000,586.60,79839,03/03/2005 04:00:00 PM +0000,586.61,43804.0
3,03/04/2005 04:00:00 PM +0000,1440.21,35570,03/04/2005 04:00:00 PM +0000,834.85,46592.0,03/04/2005 04:00:00 PM +0000,1130.04,19599.0,03/05/2005 04:00:00 PM +0000,...,96951.0,03/04/2005 04:00:00 PM +0000,1276.90,138045,03/04/2005 04:00:00 PM +0000,586.61,79856,03/04/2005 04:00:00 PM +0000,586.31,43505.0
4,03/05/2005 04:00:00 PM +0000,1440.21,35570,03/05/2005 04:00:00 PM +0000,834.88,46612.0,03/05/2005 04:00:00 PM +0000,1130.04,19599.0,03/06/2005 04:00:00 PM +0000,...,96680.0,03/05/2005 04:00:00 PM +0000,1276.72,137721,03/05/2005 04:00:00 PM +0000,586.61,79856,03/05/2005 04:00:00 PM +0000,586.00,43197.0